<!DOCTYPE HTML>
<html>
<head>
<title>Tanks 2D</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/Styles.css" >
<link rel="icon" href="../static/images/favicon.ico" type="images/x-icon">
<link rel="shortcut icon" href="../static/images/favicon.ico" type="images/x-icon">
	<style>
		#pageName{
			display: none;
		}
	</style>
</head>
   <body>
     <div class ="wrapper">
        <div class = "header">
		      <div class = "eagle"><img src = "../static/images/eagle.png" width="50" header="30"></div>
		</div>
        <div class = "menu">
		<div id ="name" class = "menuelement"><a><img src = "../static/images/name.png" width="200" header="200"></a></div>
		<div id = "main" class = "menuelement"><a class ="textmenue" href ="/index">главная</a></div>
		<div id = "gameroom" class = "menuelement"><a><font color = "white">игровые комнаты</font></a></div>
		<div id = "personalaccount" class = "menuelement"><a class ="textmenue" href ="/personalaccount">личный кабинет</a></div>
		<div id = "progress" class = "menuelement"><a class ="textmenue" href ="/progress">достижения</a></div>
		<div id = "top" class = "menuelement"><a class ="textmenue" href ="/top">топ-10</a></div>
		<div id = "authorization" class = "menuelement"><a class ="textmenue" href ="/authorization">авторизация</a></div>
		</div>
         <div id = "pageName">gameroom</div>
         <div id ="buttonExitInMenuBack">
         <button id = "buttonExitInMenu">Выйти</button>
         </div>
		 <div class = "content">
         </div>
     </div>
	 <script src = "../static/Scripts/jquery-3.3.1.js"></script>
     <script src = "../static/Scripts/SecurityScripts.js"></script>
	 <script src = "../static/Scripts/GameRoomScripts.js"></script>
   </body>
</html>