<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Tanks 2D</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="../static/css/Styles.css" >
<link rel="icon" href="../static/images/favicon.ico" type="images/x-icon">
<link rel="shortcut icon" href="../static/images/favicon.ico" type="images/x-icon">
</head>
   <body>
     <div class ="wrapper">
        <div class = "header">
		      <div class = "eagle"><img src = "../static/images/eagle.png" width="50" header="30"></div>
		</div>
        <div class = "menu">
		<div id ="name" class = "menuelement"><a><img src = "../static/images/name.png" width="200" header="200"></a></div>
		<div id = "main" class = "menuelement"><a class ="textmenue" href ="/index">главная</a></div>
		<div id = "gameroom" class = "menuelement"><a class ="textmenue" href ="/gameroom">игровые комнаты</a></div>
		<div id = "personalaccount" class = "menuelement"><a class ="textmenue" href ="/personalaccount">личный кабинет</a></div>
		<div id = "progress" class = "menuelement"><a class ="textmenue" href ="/progress">достижения</a></div>
		<div id = "top" class = "menuelement"><a class ="textmenue" href ="/top">топ-10</a></div>
		<div id = "authorization" class = "menuelement"><a href =""><font color = "white">авторизация</font></a></div>
		</div>

        <div class = "content">
		
		<div class = "contentfield">
		<p class = "newpassword">Восстановление пароля</p>
		<form method="post" action="/newpasswordSet">
			<label for="newpassword"><font color = "white">Новый пароль:</font></label><input type = "password" class = "inputclass" id = "newpassword" name="newpassword" placeholder="Введите пароль"><br>
			<input type = "hidden" class = "inputclass" id = "code" name="code" th:value="${npcode}"><br>
		<input type = "submit" class = "buttonnewpassqord" value= "Восстановить"><br>
		</form>
		</div>
		</div>
     </div>
   </body>
</html>
